.nav {
    display: flex;
    border-width: 1px; 
    border-style: solid; 
    border-color: black; 
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.nav-heading {
  background-color: #A0A7DB;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  
}
.title {
    border-width: 1px; 
    border-style: solid; 
    border-color: black; 
    align-items: center; 
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}